body {
  margin: 10% 10%;

  /* background-color: var(--mdl); */
  --drk: #001f3f;
  --light: #fff;
  --mdl: #0074d9;

  background: var(--mdl);
}

* {
  border-radius: 5px;
  font-weight: 900;
  color: var(--light);
}

button,
#name-score,
input {
  border: solid var(--light);
  background-color: var(--light);
  color: var(--mdl);
}

button {
  background-color: var(--mdl);
  font-size: large;
  color: #fffaf0;
}

header,
header > h1 {
  display: flex;
  justify-content: center;
  color: #001f3f;
  font-size: 5rem;
}

main {
  display: flex;
  justify-content: space-evenly;
  border: solid var(--light);
  background-color: var(--drk);
}

/* Recent scores */
#score {
  margin: 0 1rem;
}

#score div {
  display: flex;
  gap: 1rem;
}

#refreshBtn {
  height: max-content;
  align-self: center;
  padding: 0.5rem;
}

#name-score {
  list-style-type: none;
  padding: 0;
  width: 120%;
}

#name-score li {
  padding: 0.5rem;
  background-color: var(--light);
  color: var(--drk);
}

#name-score li:nth-child(odd) {
  background-color: var(--drk);
  color: var(--light);
}

/* Add your score section */
#addScore {
  margin: 0 1rem;
}

#addScore form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form #addScoreBtn {
  width: fit-content;
  align-self: flex-end;
  padding: 0.5rem;
}
